@font-face { font-family: BPG Glaho WEB Caps; src: url('bpg_web_glaho_caps.ttf'); } 
@font-face { font-family: BPG WEB 001 Caps; src: url('bpg_web_001_caps.ttf'); }  
@font-face { font-family: Sylfaen; src: url('Sylfaen.ttf'); }  
html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}
li, a {
color: black;
text-decoration: none;
font-size: 12px;
}

.nav-bar{
position: relative;
display: flex;
flex-basis: 100%;
justify-content: space-between;
align-items: center;

height: 70px;

background-color: 	#00B15D;
}
.nav-links{
list-style: none;
position: relative;
left: 29.5%;


}
.nav-links li {
display:  inline-block;
padding: 20px;
}
.logo{
position: absolute;
margin-top: 1.3%;
left: -20%;
cursor: pointer;
background-color: #F4F4F4;
width: 178px;
margin-top: -2px;

}
.logo img{
position: relative;
left: -45px;
}
.header{
position: relative;
display: flex;
flex-basis: 100%;
justify-content: space-between;
align-items: center;

height: 37px;

background-color: 	#F4F4F4;
}
.head-links{
list-style: none;
position: relative;
left: 29.5%;


}
.head-links li {
display:  inline-block;
padding: 20px;
}
select {
border: 0px;
outline: 0px;
background-color: #F4F4F4;
font-size: 12px;
line-height: 15.06px;
font-family: BPG Glaho WEB Caps;
}
.dropdown{
position: relative;
left: -45px;
top: -5px;


}
.phone{
position: relative;
left: 525px;
top: 3px;
font-family: BPG Glaho WEB Caps;

}
.phone i{
position: relative;
top: 5px;

}
.search{
position: relative;
left: 555px;
top: 3px;
font-family: BPG Glaho WEB Caps;
}
.user{
position: relative;
left: 585px;
top: 3px;
font-family: BPG Glaho WEB Caps;
}
.nav-bar a{
font-family: BPG Glaho WEB Caps;
color: white;
font-size: 13px;
position: relative;
left: -50px;

line-height: 121.19%;
}
.nav-bar a i{
font-size: 20px;
padding: 5px;

}
li .shoping{
position: absolute;
left: 880px;
top: -10px;
}

.shoping i{
position: relative;
top: 30px;
left: -30px;
}
.nav-footer{
position: relative;
display: flex;
flex-basis: 100%;
justify-content: space-between;
align-items: center;

height: 62px;

background-color: 	white;
}
.nav-links{
list-style: none;
position: relative;
left: 29.5%;
font-family: 'Lato', sans-serif;
font-weight: 900;

}
.nav-footer .logo{
position: absolute;
margin-top: 1.3%;
left: -20%;
cursor: pointer;
background-color: #F4F4F4;
width: 178px;
height: 65px;
margin-top: -2px;
margin-left: 27px;

}
.nav-footer a select{
font-size: 16px;
font-family: BPG Glaho WEB Caps;
font-weight: bold;


}
.nav-footer li{
position: relative;
left: -50px;
}
.nav-footer li a{
font-size: 16px;
font-family: BPG Glaho WEB Caps;
font-weight: bold;
}
.nav-footer .logo img{

position: relative;
left: 15px;

}
.nav-footer select{
font-size: 16px;
background-color: white;
font-family: BPG Glaho WEB Caps;
font-weight: bold;

}
.component2{
    display: flex;
    flex-basis: 100%;
    background-image: url("image 35.png");
    height: 550px;
    font-family: BPG Glaho WEB Caps;
    font-weight: 900;
    border: none;
}
.box{
    width: 531px;
    height: 290px;
    
    background-color: white;
    position: relative;
    left: 444px;
    top: 100px;
    z-index: 99;
}
.box span{
    display: flex;
    text-align: center;
    font-size: 28px; 
    line-height: 43.45px;
    position: relative;
    top: 60px;
    
    letter-spacing: 3px;
}
.box button{
    height: 44.73px;
    width: 214px;
    position: relative;
    top: 105px;
    left: 30px;
    margin-right: 8px;
}
.btn1{
    box-sizing: border-box;
    color: white;
    background-color: #00B15D;
    border: #00B15D;
}
.btn2{
    box-sizing: border-box;
    border: 1px solid #00B15D;
    background-color: white;
}
.box2{
    width: 408px;
    height: 230px;
    
    background-color: #00B15D;
    position: relative;
    top: 195px;
    right: 120px;
    z-index: 0;
}
button{
    width: 31.5px;
    height: 3px;
    background-color: #00B15D;
    border: 0px;
}
.slider button:hover{
    width: 31.5px;
    height: 6px;
    background-color: #00B15D;
    border: 0px;
}
.slider{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 13px;
}
.head{
    margin-top: 10px;
    
    height: 230px;

}
.head span{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.head .spn1{
    font-family: BPG Glaho WEB Caps;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 4px;
    position: relative;
    top: 70px;
}
.head .spn2{
    display: flex;
    text-align: center;
    
    font-size: 18px;
    width: 658px;
    position: relative;
    top: 70px;
    left: 32%;
    color: #737373;
}
.head hr{
    position: relative;
    top: 85px;
    width: 70px;
    height: 6px;
    background-color: #00B15D;
    border-radius: 5px;
}
.catallogs{
    height: 600px;
    background-color: white;
    display: flex;
    
}
.ctlg{
    flex-basis: 19%;
    background-color: white;


}

.ctlg1{
    flex-basis: 20%;
    background-color: white;


}
.ctlg1 img{
    position: relative;
    
    top: 25px;
}
.spn{
    width: 370px;
    height: 234px;
    position: relative;
    
    top: 55px;
}
.hspn{
    font-family: BPG Glaho WEB Caps;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 3.5px;
    
}
.spn p{
    color: #737373;
    font-size: 18px;
}
.ctlg2{
    flex-basis: 21%;
    background-color: white;



}
.ctlg2 img{
    position: relative;
    left: 10px;
    top: 25px;
}
.ctlg2 .spn{
    position: relative;
    left: 10px;
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 99;
  }
  
  .middle {
    
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 16%;
    text-align: center;
    width: 247px;
    height: 61px;
  }
  .outline{
      width: 348px;
      height: 368px;
      border: 1px solid #00B15D;
      position: absolute;
      top: 35px;
      left: 10px;
      z-index: 0;
  }
  .ctlg2 .outline{
      position: absolute;
      left: 20px;
  }
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .cont2{
    height: 590px;
    background-color: white;
    
    display: flex;
    margin-top: -10px;
}
.num1,.num2,.num3,.num4{
    flex-basis: 19%;
    z-index: 99;
    background-color: white;

}
.num1 img{
    border-radius: 10px;
    position: relative;
    left: 40px;
    top: 47px;
    z-index: 99;
}

.ise{
    flex-basis: 20%;
    
    

}
.rect{
    width: 242px;
    height: 332px;
    background-color: #00B15D;
    border-radius: 10px;
    position: relative;
    top: -320px;
    left: 60px;
    z-index: 0;
}
.rect2{
    width: 49px;
    height: 48px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    top: -625px;
    left: 40px;
    z-index: 100;
    
}
.num1 span{
    font-family: BPG Glaho WEB Caps;
    font-weight: 900;
    font-size: 20px;
    position: relative;
    left: 160px;
    top: 20px;
    letter-spacing: 3px;
    
}
.num1 p{
    font-size: 16px;
}
.num1 .texts{
    width: 250px;
    position: relative;
    top: -325px;
    left: 40px;
    
}
.items:hover{
    position: relative;
    top: -10px;

}
.items:hover .rect{
    position: relative;
    background-color: black;

}.items:hover .rect2{
    position: relative;
    background-color:#00B15D;

}
.rect2:hover{
    background-color: #00B15D;
}
.cont3{

    background-color: #00B15D;
    height: 320px;
}
.white{
    height: 135px;
    z-index: 99;
    background-color: white;
}
.rect3{
    height: 360px;
    width: 320px;
    background-color:#00B15D;
    position: relative;
    left: 560px;
    top: -67px;
    transform: rotate(11deg);
    z-index: 0;
}
.rect4{
    height: 100px;
    width: 100px;
    background-color:#00B15D;
    position: relative;
    left: 745px;
    top: -140px;
}
.cont3 hr{
    position: relative;
    left: -40px;
    width: 70px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
}
.cont3 span{
    font-size: 28px;
    font-family: BPG Glaho WEB Caps;
    font-weight: 900;
    color:white;
    
    
}
.start{
    width: 500px;
    position: relative;
    top: -400px;
    left: 400px;
    letter-spacing: 3px;
}
.start button{
    width: 247px;
    height: 61px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 90px;
}
.last{
    display: flex;
    flex-basis: 100%;
    background-image:linear-gradient(to bottom, rgba(15, 15, 15, 0.52), rgba(12, 12, 12, 0.53)),
    url("image 17.png");
    height: 550px;
    font-family: BPG Glaho WEB Caps;
    font-weight: 900;
    border: none;
    
}
.b1{
    flex-basis: 15%;
    
    
    margin-right: 10px;
}
.b2{
    flex-basis: 20%;
    
    
    margin-right: 70px;
}

.b2 span{
    font-size: 18px;
    color: white;
    white-space: nowrap;
    position: relative;
    top: 20px;
    left: 10px;
}
.cntr{
    position: relative;
    top: 60px;
    left: 60px;
}
.cntr input{
    width: 260px;
    height: 47px;
    position: relative;
    top: 20px;
    left: 10px;
    border:1px solid white;
    outline: none;
    margin-bottom: 20px;
}
.cntr a{
    font-size: 28px;
    color: #00B15D;
    position: relative;
    left: -40px;
    top: 25px;
}
.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 4em;
	}
	
.fa-twitter{
	background:#00B15D;
	color: #FFFFFF;
  padding: 0.05em 0.07em;
	}

.fa-google-plus{
  color: #FFFFFF;
  background: #dd4b39;
  padding: 0.1em 0.1em;
  }  

.fa-dribbble{
	color: #ea4c89;
	}

.fa-pinterest{
	color:#00B15D;
	}

.fa-facebook{
	background: #00B15D;
	color: #FFFFFF;
  padding: 0.05em 0.3em;
	}

.fa-youtube-play{
	background:#00B15D;
	color: #FFFFFF;
  padding: 0.25em 0.25em;
  
	}
.socials{
    position: relative;
    left: 50px;
}
.cntr button{
    width: 204px;
    height: 47px;
    background-color:#00B15D;
    position: relative;
    top: 60px;
    color: white;
}
.cntr p{
    font-family: Sylfaen;
    font-weight: normal;
    color: white;
    font-size: 16px;
    position: relative;
    top: 120px;
}
.cntr1{
    position: relative;
    top: 40px;
    left: 70px;
}
.cntr1 p{
    width: 250px;
    font-family: Sylfaen;
    font-weight: normal;
    color: white;
    font-size: 18px;
    line-height: 41.43px;
    position: relative;
    left: 10px;
}